spring:
  application:
    name: movies-front
  messages:
    basename: messages
    encoding: ISO-8859-15
  datasource:
    url: jdbc:mysql://localhost:3306/users
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        globally_quoted_identifiers: true

server:
  port: 8082

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8080/eureka/

base:
  url: /api/movie-finder